*{
    margin:0px;
    padding: 0px;
}
.banner-image{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('banner.jpg');
}
.banner-text{
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
    background-color: rgba(0, 0, 0, .5);
}
.banner-span{
    padding-top:15px ;
    font-size: 20px;
}
.banner-btn{
    border-radius: 5px;
    border-color: rgb(250, 26, 71);
    padding: 20px 30px;
    background-color: rgba(249, 92, 118, 0.968);
    margin: 20px;
    font-size: 20px;
    color: white;
}
.donate-text{
    margin-top: 45px;
    width: 100%;
    height: 100%;
    font-size: 22px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
}
.donate-header{
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.donate-para1{
    padding-bottom: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}
.donate-para2{
    padding-top: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}
.donate-card{
    margin-top: 150p x;
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
}
.card1{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: gray;
    border: 2px solid white;
    transition: .4ms;
}
.card1:hover{
    border: 2px solid rgb(143, 35, 53);
    background-color: pink;
}
.card2{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: gray;
    border: 2px solid white;
    transition: .4ms;
}
.card2:hover{
    border: 2px solid rgb(143, 35, 53);
    background-color: pink;
}
.card3{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: gray;
    border: 2px solid white;
    transition: .4ms;
}
.card3:hover{
    border: 2px solid rgb(143, 35, 53);
    background-color: pink;
}    
.card4{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: gray;
    border: 2px solid white;
    transition: .4ms;
}
.card4:hover{
    border: 2px solid rgb(143, 35, 53);
    background-color: pink;
}
.card5{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 200px;
    margin-left: 15px;
    padding: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: gray;
    border: 2px solid white;
    transition: .4ms;
}
.card5:hover{
    border: 2px solid rgb(143, 35, 53);
    background-color: pink;
}
.donate-other{
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.donate-other-para{
    margin: 15px;
    font-family: 'Courier New', Courier, monospace; 
    padding: 5px;
    margin-bottom: 10px;
}
.donate-btn{
    margin-top: 20px;
    font-size: 15px;
    color: white;
    background-color:rgb(250, 27, 27);
    margin: 10px;
    padding: 5px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border-color: cornsilk ;
}
.donate-line{
    width: 500px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.416);
    margin-left: 410px;
    margin-bottom: 30px;
}
.plan-header{
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    margin-top: 100px;
    margin-bottom: 15px;
}
.plan-para1{
    text-align: center;
    margin-bottom: 2px;
}
.plan-para2{
    text-align: center;
    margin-bottom: 50px;
}
.plan-card{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.food-card{
    margin-left: 200px;;
    margin-right: 10px;
    width: 400px;
    height: 300px;
    border: 1px solid aquamarine;
    border-radius: 10px;
    background-color: rgb(225, 244, 238) ;
    border-color: aquamarine;
    margin-bottom: 50px;
}
.shelter-card{
    margin-left: 10px;;
    margin-right: 10px;
    width: 400px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
    margin-bottom: 50px;
}
.edu-card{
    margin-left: 10px;;
    margin-right: 200px;
    width: 400px;
    height: 300px;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    background-color: antiquewhite ;
    border-color: antiquewhite;
    margin-bottom: 50px;
}
.food-image{
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.shelter-image{
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.edu-image{
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 20px;
    height: 60px;
    width: 100px;
}
.food-header{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-bottom: 15px;
    margin-left: 10px;
}
.shelter-header{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-bottom: 15px;
    margin-left: 10px;
}
.edu-header{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-bottom: 15px;
    margin-left: 10px;
}
.food-para{
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}
.shelter-para{
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}
.edu-para{
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}
.update-header{
    margin-top: 150px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px ;
    font-family: Arial, Helvetica, sans-serif;
}
.update-para1{
    color: gray;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.update-para2{
    color: gray;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.update-card{
    width: 600px;
    height: 130px;
    text-align: center;
    background-color: bisque;
    margin-left: 375px;
    margin-right: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    justify-content: inherit;
    offset-distance: 0px;
}

.email-btn{
    margin-top: 50px; 
    width: 250px;
    height: 30px;
    border-radius: 2px;
    color: gray    ;
    margin-left: 0px;
    background-color: gainsboro;
    border-color: rgb(250, 239, 239);
    text-align: left;
    font-size: 15px;
    padding-left: 30px;
    margin-right:0px;
    margin-left: 20px;
    border-right: 0px;
    border-right-color: rgb(170, 164, 164);
}
.subscribe-btn{
    margin-top: 50px; 
    width: 150px;
    height: 30px;
    border-radius: 2px;
    color: white;
    margin-left: 0px;
    background-color: rgb(242, 61, 61);
    border-color: rgb(250, 239, 239);
    font-size: 15px;
    border-left: opx;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border-right-color: crimson;
}
.footer-container{
    margin-top: 150px;
    background-color: black;
    text-align: center;
    height: 200px;
    margin-bottom: 0px;
    padding: 0px;
    border-color: black;
    border: 0px;
}
.footer-header{
    margin-top: 50px;
    padding-top: 50px;
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.footer-text{
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section4a{
    margin-top: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 150px ;
}
.img-4a{
    height: 500px;
    width: 500px;
    margin-right: 150px;
    margin-left: 30px;
    border-radius: 5px;
}
.depend-container{
    margin-left: 70px;
    margin-right: 80px;
    padding-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.depend-header{
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.depend-text1{
    font-size: 20px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.depend-text2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: gray;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
.depend-btn{
    margin-top: 20px;
    height: 50px;
    width: 250px;
    background-color: rgb(244, 8, 56);
    color: white;
    border-color: aliceblue;
    border-radius: 5px;
}
.section4b{
    margin-top: 150px;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.img-4b{
    height: 500px;
    width: 500px;
    margin-left: 50px;
    margin-right: 30px;
    border-radius: 5px;
}
.survive-container{
    margin-left: 120px;
    margin-right:  150px;
    padding-right: 0px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.survive-header{
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.survive-text1{
    font-size: 20px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.survive-text2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: gray;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
.survive-btn{
    margin-top: 20px;
    height: 50px;
    width: 250px;
    background-color: rgb(244, 8, 56);
    color: white;
    border-color: aliceblue;
    border-radius: 5px;
}
    
