*{
    margin:0px;
    padding: 0px;
}
.banner-image{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('banner.jpg');
}
.banner-text{
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
    background-color: rgba(0, 0, 0, .5);
}
.banner-span{
    padding-top:15px ;
    font-size: 20px;
}
.banner-btn{
    border-radius: 5px;
    border-color: rgb(250, 26, 71);
    padding: 20px 30px;
    background-color: rgba(249, 92, 118, 0.968);
    margin: 20px;
    font-size: 20px;
    color: white;
}
.donate-text{
    margin-top: 45px;
    width: 100%;
    height: 100%;
    font-size: 22px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center ;
}
.donate-header{
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.donate-para1{
    padding-bottom: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}
.donate-para2{
    padding-top: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}
.donate-card{
    margin-top: 150p x;
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
}
.card1{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: gray;
    border: 2px solid white;
    transition: .4ms;
}
.card1:hover{
    border: 2px solid rgb(143, 35, 53);
    background-color: pink;
}
.card2{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: gray;
    border: 2px solid white;
    transition: .4ms;
}
.card2:hover{
    border: 2px solid rgb(143, 35, 53);
    background-color: pink;
}
.card3{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: gray;
    border: 2px solid white;
    transition: .4ms;
}
.card3:hover{
    border: 2px solid rgb(143, 35, 53);
    background-color: pink;
}    
.card4{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: gray;
    border: 2px solid white;
    transition: .4ms;
}
.card4:hover{
    border: 2px solid rgb(143, 35, 53);
    background-color: pink;
}
.card5{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    width: 100px;
    height: 50px;
    text-align: center;
    color: gray;
    border: 2px solid white;
    transition: .4ms;
}
.card5:hover{
    border: 2px solid rgb(143, 35, 53);
    background-color: pink;
}
.donate-other{
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.donate-other-para{
    margin: 15px;
    font-family: 'Courier New', Courier, monospace; 
    padding: 5px;
    margin-bottom: 10px;
}
.donate-btn{
    margin-top: 30px;
    font-size: 15px;
    color: white;
    background-color:rgb(250, 27, 27);
    margin: 10px;
    padding: 5px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border-color: cornsilk ;
}
.donate-line{
    width: 500px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.416);
    margin-left: 410px;
    margin-bottom: 30px;
}
.plan-header{
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    margin-top: 150px;
    margin-bottom: 15px;
}
.plan-para1{
    text-align: center;
    margin-bottom: 2px;
}
.plan-para2{
    text-align: center;
    margin-bottom: 50px;
}
.plan-card{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.food-card{
    margin-left: 200px;;
    margin-right: 10px;
    width: 400px;
    height: 300px;
    border: 1px solid aquamarine;
    border-radius: 10px;
    background-color: rgb(225, 244, 238) ;
    border-color: aquamarine;
    margin-bottom: 50px;
}
.shelter-card{
    margin-left: 10px;;
    margin-right: 10px;
    width: 400px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
    margin-bottom: 50px;
}
.edu-card{
    margin-left: 10px;;
    margin-right: 200px;
    width: 400px;
    height: 300px;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    background-color: antiquewhite ;
    border-color: antiquewhite;
    margin-bottom: 50px;
}
.food-image{
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.shelter-image{
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.edu-image{
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 20px;
    height: 60px;
    width: 100px;
}
.food-header{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-bottom: 15px;
    margin-left: 10px;
}
.shelter-header{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-bottom: 15px;
    margin-left: 10px;
}
.edu-header{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-bottom: 15px;
    margin-left: 10px;
}
.food-para{
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}
.shelter-para{
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}
.edu-para{
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}
